/*
 * right column for sphinx_rtd_theme
 */
.clear {
    clear: both;
}

@media screen and (min-width: 1300px) {
    .wy-nav-content {
        max-width: none;
    }

    .with-columns .wy-nav-content {
        background: linear-gradient(90deg, #fcfcfc 52%, #eeeeee 52%);
    }

    .with-columns .wy-nav-content .wy-breadcrumbs ,
    .with-columns .section > h1,
    .with-columns .section > h2,
    .with-columns .section > h3,
    .with-columns footer {
        width: 50%;
    }

    .with-columns .section {
        clear: both;
    }

    .left-col.container {
        float: left;
        width: 50%;
        margin-right: 4%;
    }

    .right-col.container {
        float: left;
        width: 45%;
    }

    /*
     * tab selector fixed in top
     */
    .with-columns .contenttab-selector.in-right-col {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: calc(48% - 144px);
        background: #444;
        padding: 5px 10px;
    }

}

/**
 *
 */
.toggle-tab {
    margin-bottom: 40px;
}

.toggle-header {
    display: block;
    clear: both;
    cursor: pointer;
}
.toggle-header strong {color: #2980b9 }

.toggle-header:after {
    content: " ▼";
}

.toggle-header.open:after {
    content: " ▲";
}

.toggle-content {
    display: none;
    margin-bottom: 20px;
}

/*
 * tab menu
 */
ul.contenttab-selector {
    display:block;
    list-style-type: none;
    margin: 0 0 10px;
    padding: 0;
    line-height: normal;
    overflow: auto;
}
ul.contenttab-selector li {
    display: block;
    cursor: pointer;
    font-weight: bold;
    margin: 0 5px 0 0;
    padding: 5px 10px;
    float: left;
    background-color: #999;
    color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
}
.rst-content .section ul.contenttab-selector,
.rst-content .toctree-wrapper ul.contenttab-selector,
article ul.contenttab-selector{
    line-height: normal;
    margin: 0 0 10px;
}
.rst-content .section ul.contenttab-selector li,
.rst-content .toctree-wrapper ul.contenttab-selector li,
article ul.contenttab-selector li{
    margin-left: 0;
}
ul.contenttab-selector li:hover {
    background-color: #777;
}
ul.contenttab-selector li.selected {
    background-color: #2980b9;
}
ul.contenttab-selector li.selected:hover {
    background-color: #333;
}
.content-tabs {
    margin: 10px 0 20px 0;
}
.tab-content {
    clear: both;
}